@charset "utf-8";
/* CSS Document */
/*.column2-2{width:81%; border-left:none; border-right:none;}*/
.row1{
	float:none;
}
h2{	
	color: #000;
	font-size: 19px;
}
p{ 
	margin:1% 0;
}
button, input[type="button"],input[type="submit"]{
	width:auto !important;
}
input{
	padding:12px 40px;
}
input[type="text"]{ 
	background-color:transparent;
	border:1px solid #b4b4b4;
	width: 100% !important;
 
}
.pad3-0{padding:3% 0;}
